main {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(./Imágenes/fondo\ opacity.jpg);
	background-size: cover;
	background-position: right center;
	background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;
}

table, thead, tbody {

    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.0);

}

th, td {
    color: #f1f1f1;
    border: solid 1px rgb(76, 72, 72);
    text-align: center;
    font-size: 15px;
    height: 30px;

}

.cellCabecera {

    background-color: rgb(76, 72, 72);
    color: #f1f1f1;
}

#cellComida, #cellCena {

    writing-mode: tb-lr;
    transform: rotate(-90deg);
    width: 50px;

}

#upcellCena {
    width: 50px;
}

#nueva {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 10px;
}

#tab-nueva {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 1em;
    padding: 10px;
    width: 70%;
    flex-wrap: wrap;
}

#introducir-comida {

    border-radius: 0.3em;
    background-color: #f1f1f1;
    border: none;
    font-size: 18px;
    padding: 0.5em;
    line-height: 3em;
    margin: 10px;
}

#introducir-comida:hover {

    cursor: pointer;
}

.bbddnueva-campoCab {

    line-height: 3em;
    align-self: center;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(76, 72, 72);
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
}

.campo-bbdd {

    border: 1px #f1f1f1 solid;
    line-height: 3em;
    align-self: center;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
}

#tabla-final {
    margin: 20px 50px;
}

#datoNombre, #datoPlato, #datoTipo, #datoPara, #datoCoc {
    background-color: transparent;
    color: #f1f1f1;
    border: none;
    font-size: 16px;
}

.cellCabeceraBBDD {

    background-color: rgb(76, 72, 72);
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
}

.cellCabeceraIcono, .bbdd-edit, .bbdd-borrar {

    border: none;
    width: 2em;

}

.fila-tabla-bbdd {
    border: #f1f1f1 solid 1px;
}

.butEdit:hover, .butDelete:hover {
    cursor: pointer;
    z-index: 7;
}

.butDelete, .butEdit {
    border: none !important;
    background-color: transparent;
}

.bbdd-num {
    width: 5em;
    border: #f1f1f1 solid 1px;
}

.bbdd-nombre {
    width: 17em;
    border: #f1f1f1 solid 1px;
}

.bbdd-plato {
    width: 8em;
    border: #f1f1f1 solid 1px;
}

.bbdd-tipo {
    width: 8em;
    border: #f1f1f1 solid 1px;
}

.bbdd-para {
    width: 8em;
    border: #f1f1f1 solid 1px;
}

.bbdd-comidaocena {
    width: 9em;
    border: #f1f1f1 solid 1px;
}
