

/*---------------------------------------------------------------------------MAIN--------------------------------------------------------------------------------------------*/

.condiciones {

	position: absolute;																								/*Define el marco absoluto del cuerpo de la home*/
	height: 80vh;																									/*Ocupa toda la vertical*/
	width: 100%;
	margin-top: 90px;																									/*Ocupa toda la horizontal*/
	display: -webkit-flex; 																							/* Los navegadores basados en WebKit, como Chrome o Safari, a menudo requieren el prefijo "-webkit-" para ciertas propiedades CSS para garantizar la compatibilidad con versiones anteriores*/
	display: flex;
	overflow: hidden;
	@media screen and (max-width: 768px) {																			/*Los elementos pasan de organizarse REVISAR*/
		flex-direction: column;
	}
}

.bloque-condiciones {
	padding-top: 80px;
	position: relative;
	-webkit-flex: 1;  																								/* Safari 6.1+ */
	-ms-flex: 1;  																									/* IE 10 */    
	flex: 1;																										/*Indica que la flexibilidad del elemento es igual a la de otros*/
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;																						/*Todas las transiciones se daran en 0.5s*/
	@media screen and (max-width: 768px) {																			/*Para pantallas de menos de 769px evita que haya scroll horizontal*/
		overflow: auto;
		overflow-x: hidden;
	}
}

.bloque-condiciones:hover {
	-webkit-flex-grow: 3;							
	flex-grow: 3;																									/*El bloque de condiciones crecerá 3 veces más que el resto*/
}

#verduras {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Imágenes/Verduras\ 1.png);
	background-size: contain;																						/*La imagen se escalará proporcionalmente hasta cubrir todo el elemento*/
	background-position: left center;																				/*La imagen se colocará en el centro del eje vertical y del eje horizontal*/
	background-attachment: fixed;																					/*la imagen permanecerá fija aunque se desplace el contenido*/
}

#pescado {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Imágenes/Pescado\ 1.png);
	background-size: contain;
	background-position: left center;
	background-attachment: fixed;
}

#horarios {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Imágenes/Horarios\ 1.png);
	background-size: contain;
	background-position: right center;
	background-attachment: fixed;
}
#carne {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Imágenes/Carne\ 2.png);
	background-size: contain;
	background-position: center center;
	background-attachment: fixed;
}

.titulo-condiciones {
	color: #f1f1f1;
	position: relative;
	font-size: 5vw;
	margin: auto;
	text-align: center;
	transform: rotate(90deg);																						/*Por defecto muestra el título del bloque rotado*/
	top: 25%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;																						/*Las transiciones se realizarán en 0.5s con aceleración y desaceleración gradual*/
	@media screen and (max-width: 768px) {
		transform: rotate(0deg) !important;																			/*Con prioridad, para tamaños menores a 769px no se rotará el título*/			
	}
}

.seleccion {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	opacity: 0;
}

.opcion {
	color: #f1f1f1;

	border-radius: 5px;
	position: relative;
	font-size: 1.5vw;
	height: 30px;
	padding: 5px;
	margin: 10px;
	text-align: center;	
	width: 70%;			
	cursor: pointer;																	/*Por defecto muestra el título del bloque rotado*/
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	
}

.seleccionado {
	color: black;
	background-color: #f1f1f1;
}